.registration-form {
  max-width: 1217px; 
  margin: 0 auto;
  padding: 20px;
  &-text {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

h1 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 40px;
}
.head-title{
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}
.form-grid {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
  &-item {
    display: flex;
    gap: 10px;
    &-1 {
      width: 65%;
    }
    &-2 {
      width: 32%;
    }
  }
  &-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 40px;
    position: relative;
  }
}

.form-grid > div {
  position: relative;
}

.form-img {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}

.form-img > div {
  position: relative;
}

.form-grid-two > div {
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px; 
  font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  width: 100%;
  padding: 8px 20px;
  border: 1px solid gray;
  border-radius: 18px;
  height: 36px; 
  background-color: transparent;
  color: white; 
  font-size: 20px;
  cursor: url('../../assets/icons/Pointer.svg'), auto;
}

textarea {
  height: 160px; 
  resize: none; 
}

input:focus,
textarea:focus {
  outline: none; 
  border-color: $white; 
}

input::placeholder,
textarea::placeholder {
  color: $grey; 
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  border-color: $white; 
}

input[type="date"]:invalid {
  border-color: $grey;
}


button {
  margin-top: 20px;
  padding: 0px 20%;
  text-align: center; 
  border: none;
  border-radius: 30px; 
  background-color: $light-purple; 
  color: black; 
  font-size: 24px; 
  cursor: pointer; 
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  height: 72px;
  transition: z-index 5s ease;
}

.error {
  color: $orange;
  font-size: 12px; 
  position: absolute;
  bottom: -20px;
  left: 0;
}

.error-input {
  border: 2px solid $orange;
}

.error-message {
  color: $orange;
  font-size: 10px;
  position: absolute;
  align-items: center;
  top: 60%;
  right: 20px;
} 

.priority-box {
  background-color: $grey3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.add-person {
  padding: 0px 20px;
  border: 1px solid gray;
  border-radius: 18px;
  height: 36px; 
  background-color: transparent;
  color: white; 
  font-size: 20px;
  position: absolute;
}
.add {
  display: flex;
  flex-direction: row;
}

.remove-person {
  text-align: center;
  padding: 0px 20px;
  border: 1px solid gray;
  border-radius: 18px;
  height: 36px; 
  background-color: transparent;
  color: white; 
  font-size: 20px;
  position: absolute;
  margin-left: 50%;
  margin-top: -3%;
}

@media (max-width: 768px) {
  h1{
    font-size: 24px;
  }
  .head-title{
    font-size: 24px;
  }
  label {
    font-size: 16px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  textarea {
    font-size: 16px;
  }
  textarea {
    height: 145px; 
    border-radius: 30px;
    resize: none; 
  }
  .registration-form {
    padding: 20px 40px;
    &-text {
      font-size: 14px;
    }
  }

  .registration {
    margin-top: 40px;
  }

  .form-grid {
    grid-template-columns: 1fr;
    gap:15px;
    margin-bottom: 15px;
    &-two {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
    &-item {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
      &-1 {
        width: 100%;
      }
      &-2 {
        width: 100%;
      }
    }
  }

  .form-img {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:self-start;
  }

  button {
    font-size: 16px; 
    height: 34px;
  }
  .error {
    bottom: -12px;
  }
  .priority-box {
    width: 100%;
  }
  .remove-person {
    border: none;
    margin-top: -38px;
    margin-left: 85%;
  }
}

@media (max-width: 1200px) and (min-width: 769px){
  .error-message {
    &-2 {
      color: $orange;
      font-size: 10px;
      position: absolute;
      align-items: center;
      top: 40px;
      left: 35%;
    }
  } 
  .form-img {
    grid-template-columns: repeat(2, 1fr);
  }
}

