.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 10%;
    position: relative; 
  
    &-icon-top {
      position: absolute; 
      top: 20px;
      left: 20px; 
      width: 40px;
      height: auto;
      z-index: 1000; 
    }
  
    &-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 100%;
  
      &-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        margin: 0;
        list-style-type: none;
  
        &-item {
          font-size: 24px;
          margin: 0 30px;
          padding: 5px;
          color: $white;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  
    &-mobile {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
      background-color: $grey3; 
      z-index: 999;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px 0px 0px 20px;
  
  
      &-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
  
        &-item {
          font-size: 24px;
          margin: 30px 0;
          color: white;
          cursor: pointer;
          & a{
            text-decoration: none;
          }
          
        }
      }
    }
  }

  .header-mobile-toggle {
    display: none;
    position: fixed; // или absolute?
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url('../../assets/icons/Lines.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
  }
  
  @media (max-width: 768px) {
    .header {
      &-nav {
        display: none; 
      }
  
      &-mobile {
        display: flex;
      }
  
      &-mobile-toggle {
        display: block; 
      }
    }
  }

  @media (max-width: 1200px) {
    .header {
      padding: 0px 10px;
    }
  }